<ion-view title="Calendrier des RDV">

<ion-side-menus>
  <ion-side-menu-content class="menu-open">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="calendar" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="menu-open">
      <ion-list>
        <ion-item menu-close ui-sref="#">
          <i class="ion-android-calendar"></i>  Agenda
        </ion-item>
        <ion-item menu-close ui-sref="createUser">
          <i class="ion-android-person-add"></i>  Ajouter un patient
        </ion-item>
        <ion-item menu-close ui-sref="listUser">
          <i class="ion-android-list"></i>  list des patients
        </ion-item>
        <ion-item menu-close ui-sref="login">       
          <i class="ion-locked"></i> Se déconnecter     
        </ion-item>
      </ion-list>
  </ion-side-menu>
</ion-side-menus>   

 
</ion-view>
